<div
  class="bg-gradient-to-r from-blue-500 to-green-500 min-h-screen flex items-center justify-center"
>
  <div class="p-8 rounded-lg shadow-lg w-full max-w-md text-center">
    <h1 class="text-4xl font-bold mb-4">
      <span class="text-blue-500 hover:bg-gradient-to-bl hover:rounded-sm"
        >Cric</span
      >
      <span class="text-green-500 hover:bg-gradient-to-bl hover:rounded-sm"
        >Info
      </span>
    </h1>
    <div class="text-2xl font-bold mb-6">
      <span class="typewriter"> {{ currentText }}</span>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <a
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
      >
        Latest News
      </a>
      <a
        class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
      >
        Live Scores
      </a>
      <a
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
      >
        Teams
      </a>
      <a
        class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
      >
        Players
      </a>
    </div>
  </div>
</div>
